@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

a,
img,
button,
video,
h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none !important;
  outline: none !important;
}

::-moz-selection {
  background-color: #fecc18;
  color: #fff;
}

::selection {
  background-color: #fecc18;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #fecc18;
  border-radius: 10px;
  border: 3px solid #fff;
}

@-webkit-keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 32px;
    top: 0;
  }
  23% {
    left: 32px;
    top: 0;
  }
  25% {
    left: 64px;
    top: 0;
  }
  35.5% {
    left: 64px;
    top: 0;
  }
  37.5% {
    left: 64px;
    top: 32px;
  }
  48% {
    left: 64px;
    top: 32px;
  }
  50% {
    left: 32px;
    top: 32px;
  }
  60.5% {
    left: 32px;
    top: 32px;
  }
  62.5% {
    left: 32px;
    top: 64px;
  }
  73% {
    left: 32px;
    top: 64px;
  }
  75% {
    left: 0;
    top: 64px;
  }
  85.5% {
    left: 0;
    top: 64px;
  }
  87.5% {
    left: 0;
    top: 32px;
  }
  98% {
    left: 0;
    top: 32px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 32px;
    top: 0;
  }
  23% {
    left: 32px;
    top: 0;
  }
  25% {
    left: 64px;
    top: 0;
  }
  35.5% {
    left: 64px;
    top: 0;
  }
  37.5% {
    left: 64px;
    top: 32px;
  }
  48% {
    left: 64px;
    top: 32px;
  }
  50% {
    left: 32px;
    top: 32px;
  }
  60.5% {
    left: 32px;
    top: 32px;
  }
  62.5% {
    left: 32px;
    top: 64px;
  }
  73% {
    left: 32px;
    top: 64px;
  }
  75% {
    left: 0;
    top: 64px;
  }
  85.5% {
    left: 0;
    top: 64px;
  }
  87.5% {
    left: 0;
    top: 32px;
  }
  98% {
    left: 0;
    top: 32px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: #fecc18;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-animation: square-animation 10s ease-in-out infinite both;
          animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  -webkit-animation-delay: -1.4285714286s;
          animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  -webkit-animation-delay: -2.8571428571s;
          animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  -webkit-animation-delay: -4.2857142857s;
          animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  -webkit-animation-delay: -5.7142857143s;
          animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  -webkit-animation-delay: -7.1428571429s;
          animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  -webkit-animation-delay: -8.5714285714s;
          animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.scanner h1 {
  color: transparent;
  font-size: 2.8rem;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.scanner h1::before {
  content: "CarGo...";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  border-right: 4px solid #fecc18;
  overflow: hidden;
  color: #fecc18;
  -webkit-animation: load 2s linear infinite;
          animation: load 2s linear infinite;
}

@-webkit-keyframes load {
  0%, 10%, 100% {
    width: 0;
  }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    border-right-color: transparent;
  }
  11%, 21%, 31%, 41%, 51%, 61%, 71%, 81%, 91% {
    border-right-color: #fecc18;
  }
  60%, 80% {
    width: 100%;
  }
}

@keyframes load {
  0%, 10%, 100% {
    width: 0;
  }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    border-right-color: transparent;
  }
  11%, 21%, 31%, 41%, 51%, 61%, 71%, 81%, 91% {
    border-right-color: #fecc18;
  }
  60%, 80% {
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */