@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
// start global variables
$main-color: #fecc18;
$sec-color: #3d3e3e;
$light: #fff;
$dark: #000;
// end global variables
// start global components
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
}
a,
img,
button,
video,
h1 {
    user-select: none;
}
a {
    text-decoration: none !important;
    outline: none !important;
}
::selection {
    background-color: $main-color;
    color: $light;
}
*::-webkit-scrollbar {
    width: 13px;
}
*::-webkit-scrollbar-track {
    background: $light;
}
*::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border-radius: 10px;
    border: 3px solid $light;
}
// start loading
@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
    user-select: none;
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: $main-color;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }
.scanner h1 {
    color: transparent;
    font-size: 2.8rem;
    position: relative;
    overflow: hidden;
    user-select: none;
   }
   
   .scanner h1::before {
    content: "CarGo...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    user-select: none;
    height: 100%;
    border-right: 4px solid $main-color;
    overflow: hidden;
    color: $main-color;
    animation: load 2s linear infinite;
   }
   
   @keyframes load {
    0%, 10%, 100% {
     width: 0;
    }
   
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
     border-right-color: transparent;
    }
   
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
     border-right-color: $main-color;
    }
   
    60%, 80% {
     width: 100%;
    }
   }
// end loading
// end global components